//
//  Secret.xcconfig
//  TravPal
//
//  Created by Revan Arturito on 22/09/26.
//

API_BASE_URL = http:/$()/localhost:8080/identity/
GOOGLE_CLIENT_ID = 20661744910-bomnh74ajnjradj4eo0d20p4vv5vdt91.apps.googleusercontent.com
GOOGLE_REVERSED_CLIENT_ID = com.googleusercontent.apps.20661744910-bomnh74ajnjradj4eo0d20p4vv5vdt91
GOOGLE_SERVER_CLIENT_ID = 20661744910-qhsvv0po67h0j4e4pfpmikn5dl5967dd.apps.googleusercontent.com
